*,*::after,*::before{
    box-sizing: border-box;
}
.menu{
    background-color: rgb(54, 52, 52);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content:flex-start;
    color: white;
    text-align: center;
    width: 100px;
    height: 96vh;
}
.menu>div,a{
    padding: 10px 4px;
    text-decoration: none;
    color:rgb(156, 152, 152);
}
.main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.content-first{
    display: flex;
    flex-flow: row;
}
.column {
  
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #193c9c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.col-text{
  padding: 20px;
  background-color: rgb(121, 118, 114);
}
.col-graph{
  padding: 5px;
}
.heading{
  float: left;
  width: 100%;
}
#profilepic{
  border-radius: 50%;
}
.profile-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.row-flex{
  width: 300px;
  background-color: rgb(238, 231, 204);
}
.col-flex{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}